body {
    font-family: 'Open Sans', sans-serif; /* 清晰、易读的正文字体 */
    font-size: 14px; /* 略大字号，适合宽屏阅读 */
    color: #333; /* 深灰色文字，保护视力 */
    line-height: 1.8; /* 更宽松的行间距，提升阅读舒适性 */
    background-color: #ffffff; /* 白色背景，简洁干净 */
    margin: 0;
    padding: 0;
    margin-top: 60px; /* 导航栏高度（可以根据实际情况调整） */
}

p {
    margin-bottom: 1.6em; /* 段落之间增加空隙 */
}

ul, ol {
    margin-bottom: 1.6em; /* 列表之间的间距 */
    padding-left: 1.5em; /* 列表缩进 */
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.container, main {
  padding-top: 90px; /* 确保与导航栏的高度一致 */
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* 导航栏的高度 */
  z-index: 1000; /* 确保导航栏显示在最前 */
  background-color: white; /* 确保导航栏背景不会透明 */
  border-bottom: 1px solid #ddd; /* 增加分隔线 */
}

.author__content h3.author__name {
  font-size: 1rem; /* 调整名字的字体大小，例如 1.5rem = 24px */
  font-weight: bold; /* 可选：加粗字体 */
  margin-bottom: 0.5em; /* 调整名字与简介之间的间距 */
}

.author__content p.author__bio {
  font-size: 0.8rem; /* 调整简介的字体大小，例如 1.2rem = 19.2px */
  color: #555; /* 可选：调整字体颜色 */
}

html.lang-zh .lang-zh { display: block; }
html.lang-zh .lang-en { display: none; }
html.lang-en .lang-zh { display: none; }
html.lang-en .lang-en { display: block; }

#lang-toggle {
  font-size: 0.8rem;
  margin-left: 10px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
